---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to ProFabX.">
  <main>
    <div class="container">
      <img src="http://profabx.com/pic/logo.png" alt="logo" />
    </div>
    <h1>欢迎来到 <span class="text-gradient">ProFabX</span></h1>

    <ul role="list" class="link-card-grid">
      <Card
        href="/zh-cn/lab/lab"
        title="NexMaker-Fab 课程"
        body="相关课程和实验室方案介绍"
      />
      <Card
        href="/zh-cn/prototype-table"
        title="工程样机开发"
        body="我们提供批量生产前的相关服务"
      />
      <Card
        href="https://astro.build/themes/"
        title="无人小车方案"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="数字沙盘方案"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--pro-accent-light);
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    color: rgba(var(--pro-accent));
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--pro-accent-light), 25%);
    background: linear-gradient(
      rgba(var(--pro-accent-dark), 66%),
      rgba(var(--pro-accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--pro-accent-light), 12%);
    color: rgb(var(--pro-accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--pro-accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container img {
    width: 80%;
  }
</style>
