---
type Props = {
  label: string;
  link: string;
};
const { label, link } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href={link}
  class="content-bg inline-block px-2 py-4 rounded-lg h-32 w-64 bg- transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 no-underline border border-slate-200"
>
  {label}
</a>

<style>
  .content-bg {
    background-color: var(--sl-color-black);
  }
</style>
