---
import { TableData } from "../constants";
import { LeftSide, RightSide, CenterSide } from "./TableCardElement";
---

<div class="not-content flex flex-col gap-12 items-center">
  {
    TableData.map((item) => (
      <div class="w-full grid xl:grid-cols-10 grid-cols-3 gap-4 items-center">
        <div class="xl:col-span-4 col-span-1">
          <LeftSide item={item} />
        </div>
        <div class="xl:col-span-2 col-span-1 h-full">
          {<CenterSide item={item} />}
        </div>
        <div class="xl:col-span-4 col-span-1">
          <RightSide item={item} />
        </div>
      </div>
    ))
  }
</div>
