---
import TableData from "../datas/TableData";
import EN_TableData from "../datas/en/TableData";
import { LeftSide, RightSide, CenterSide } from "./TableCardElement";

import type { Props } from "@astrojs/starlight/props";

const { lang } = Astro.props;
const tableData = lang === "en" ? EN_TableData : TableData;
---

<div class="not-content flex flex-col gap-12 items-center">
  {
    tableData.map((item) => (
      <div class="w-full grid xl:grid-cols-10 grid-cols-3 gap-4 items-center">
        <div class="xl:col-span-4 col-span-1">
          <LeftSide item={item} />
        </div>
        <div class="xl:col-span-2 col-span-1 h-full">
          <a href={item.url ?? '#'} class={`block h-full ${!item.url && 'pointer-events-none'}`}>
            <CenterSide item={item} />
          </a>
        </div>
        <div class="xl:col-span-4 col-span-1">
          <RightSide item={item} />
        </div>
      </div>
    ))
  }
</div>
