---
import { TableData } from "../constants";
import ContentCard from "./ContentCard.astro";
---

<div class="not-content flex flex-col gap-4 items-center">
  {
    TableData.map((item) => (
      <div class="w-full grid grid-cols-12 gap-4 items-center">
        <div class="col-span-6">
          <div class="flex flex-row justify-end gap-4 items-center">
            {item.left.map((it) => (
              <div
                class="flex justify-center items-center w-16 h-16"
                style={{ background: it.color }}
              >
                <span class="text-white">{it.label}</span>
              </div>
            ))}
          </div>
        </div>
        <div class="col-start-7 col-span-1 h-full">
          <div
            class="flex justify-center items-center h-full"
            style={{ background: item.color }}
          >
            <span class="text-white">{item.title}</span>
          </div>
        </div>
        <div class="col-span-4">
          <div class="flex flex-row gap-4 items-center">
            {item.right.map((it) => (
              <div
                class="flex justify-center items-center w-16 h-16"
                style={{ background: it.color }}
              >
                <span class="text-white">{it.label}</span>
              </div>
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
