@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
  --sl-content-width: 90rem;
  --sl-color-accent-low: #0b214d;
  /* 全局主题色 */
  --sl-color-accent: #0054ff; 
  --sl-color-accent-high: #acc9ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c2d8ff;
  --sl-color-accent: #0054fe;
  --sl-color-accent-high: #092b73;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}
.page-title {
  @apply text-center text-[#0057f1] text-3xl font-bold;
}