---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        /* profabX 主题色，给到  --pro-accent-* 来使用 */
        --accent-50: 237 247 255;
        --accent-100: 214 236 255;
        --accent-200: 181 223 255;
        --accent-300: 131 204 255;
        --accent-400: 72 175 255;
        --accent-500: 30 138 255;
        --accent-600: 6 105 255;
        --accent-700: 0 84 255;
        --accent-800: 8 65 197;
        --accent-900: 13 60 155;
        --accent-950: 14 37 93;

        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --pro-accent: var(--accent-700);
        --pro-accent-light: var(--accent-500);
        --pro-accent-dark: var(--accent-800);
        --pro-accent-1: var(--accent-100);
        --pro-accent-2: var(--accent-200);
        --pro-accent-3: var(--accent-300);
        --pro-accent-4: var(--accent-400);
        --pro-accent-5: var(--accent-500);
        --pro-accent-7: var(--accent-600);
        --pro-accent-8: var(--accent-700);
        --pro-accent-9: var(--accent-800);
        --pro-accent-10: var(--accent-900);

        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
        --pro-accent-gradient: linear-gradient(
          45deg,
          rgb(var(--pro-accent)),
          rgb(var(--pro-accent-light)) 30%,
          white 60%
        );
      }
      :root[data-theme="light"] {
        /* --sl-color-accent-low: #c7d6ff;
        --sl-color-accent: #364bff;
        --sl-color-accent-high: #182775;
        --sl-color-white: #17181c;
        --sl-color-gray-1: #24272f;
        --sl-color-gray-2: #353841;
        --sl-color-gray-3: #545861;
        --sl-color-gray-4: #888b96;
        --sl-color-gray-5: #c0c2c7;
        --sl-color-gray-6: #eceef2;
        --sl-color-gray-7: #f5f6f8;
        --sl-color-black: #ffffff; */
      }

      html {
        font-family: system-ui, sans-serif;
        /* background: #13151a; */
        background: #ffffff;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
